{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" href="{% static 'img/favicon-blanco.ico' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    {% block extrahead %}{% endblock %}
</head>

<body>
    <header class="header">
        <a href="{% url 'home' %}">
            <img src="{% static 'img/logo-blanco.png' %}" alt="Bar Carmita"  id="logo">
        </a>

        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>  

        <div class="nav">
            <ul>
                <li>
                    <a href="{% url 'bienvenido' %}#quienessomos" >
                        ❓<br>Quiénes somos
                    </a>    
                </li>
                <li>
                    <a href="{% url 'bienvenido' %}#mision">
                        🎯 <br> Mision
                    </a>
                </li>
                <li>
                    <a href="{% url 'bienvenido' %}#vision" >
                        👁️<br>Visión                        
                    </a>
                </li>
            </ul>
            <div class="div-botones">
                <a href="{% url 'formulario_categoria_producto' %}"><button class="botones-sesion">Iniciar Sesion</button></a>
                <a><button class="botones-sesion">Crear Cuenta</button></a>
            </div>
        </div>

    </header>
    <div class="extender text-white">
    {% block body %}

    {% endblock %}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    </div>
</body>


</html>